<div>
    <div>
      <div class="row g-7">
        <div class="col-lg-6 col-xl-3"></div>
        <div class="col-xl-10" style="width:100%;">
          <div class="card card-flush h-lg-100" id="kt_contacts_main">
            <!-- <div class="card-header pt-7" id="kt_chat_contacts_header">
              <div class="card-title d-flex">
                <span class="svg-icon svg-icon-1 me-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M20 14H18V10H20C20.6 10 21 10.4 21 11V13C21 13.6 20.6 14 20 14ZM21 19V17C21 16.4 20.6 16 20 16H18V20H20C20.6 20 21 19.6 21 19ZM21 7V5C21 4.4 20.6 4 20 4H18V8H20C20.6 8 21 7.6 21 7Z"
                      fill="currentColor"></path>
                    <path opacity="0.3"
                      d="M17 22H3C2.4 22 2 21.6 2 21V3C2 2.4 2.4 2 3 2H17C17.6 2 18 2.4 18 3V21C18 21.6 17.6 22 17 22ZM10 7C8.9 7 8 7.9 8 9C8 10.1 8.9 11 10 11C11.1 11 12 10.1 12 9C12 7.9 11.1 7 10 7ZM13.3 16C14 16 14.5 15.3 14.3 14.7C13.7 13.2 12 12 10.1 12C8.10001 12 6.49999 13.1 5.89999 14.7C5.59999 15.3 6.19999 16 7.39999 16H13.3Z"
                      fill="currentColor"></path>
                  </svg>
                </span>
                <h2>Interview Schedule</h2>
              </div>
            </div> -->
            <br>
            <br>
            <div class="row" style=" margin-top: -30px;">
              <div class="fv-row mb-8 col-4" style="padding-left: 40px;">
                <label class="required fs-6 mb-2">Select Talent to create Interview </label>
                <div *ngIf="timesheetmodel.TalentId !== undefined">
                  <select data-control="select2" data-hide-search="true" data-placeholder="Select..." name="Select_Status" style="width: 70%;"
                    [(ngModel)]="timesheetmodel.TalentId" [disabled]="true" class="form-select form-select-solid">
                    <option value="0" disabled>Select Talent</option>
                    <option value="{{f.TalentId}}" *ngFor="let f of aprovealltalentlist ">
                      {{ f.UserName }} - {{f.JobTitle}}
                    </option>
                  </select>
                </div>
  
                <div *ngIf=" timesheetmodel.TalentId == undefined">
                  <select data-control="select2" data-hide-search="true" data-placeholder="Select..." name="Select_Status"
                    [(ngModel)]="tempTlaentid" (ngModelChange)="onChange($event)"  
                    class="form-select form-select-solid">
                    <option value="0" disabled>Select Talent</option>
                    <option [value]="f.TalentId" *ngFor="let f of aprovealltalentlist">
                      {{ f.UserName }} - {{f.JobTitle}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <br>
  
            <div class="row" *ngIf="timesheetmodel.TalentId !== undefined || tempTlaentid !== 0">
              <!-- <div class="container">
                <full-calendar [options]="calendarOptions"></full-calendar>
              </div> -->
              <div class="row text-center">
                <div class="col-md-4">
                    <div class="btn-group">
                        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()">Previous
                        </div>
                        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Today
                        </div>
                        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                            (viewDateChange)="closeOpenMonthViewDay()"> Next
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                </div>
                <div class="col-md-4">
                    <div class="btn-group">
                        <div class="btn btn-primary" (click)="setView(CalendarView.Month)"[class.active]="view === CalendarView.Month"> Month</div>
                        <div class="btn btn-primary" (click)="setView(CalendarView.Week)"[class.active]="view === CalendarView.Week"> Week</div>
                        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Day</div>
                    </div>
                </div>
            </div>
  
            <br />
            <br />
            <br />
  
  <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate"  [refresh]="refresh" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate"[refresh]="refresh" (hourSegmentClicked)="handleTimeSlotSelected($event.date, $event.date)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" (hourSegmentClicked)="handleTimeSlotSelected($event.date, $event.date)" [refresh]="refresh"(eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)"></mwl-calendar-day-view>
  </div>
  <br /><br /><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="../../../../assets/js/custom/apps/contacts/edit-contact.js"></script> -->