<div class="card">
    <div class="table-responsive custom-scrollbar">
      <!-- <div class="card-title">
        <span class="text-dark  fw-bolder  text-hover-primary fs-3" style="padding:15px">Project List</span>
       </div>
    -->
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <input type="text" class="form-control text-left justify-content-start"
              style="border: 2px solid #c3c3c3;border-radius: 5px;padding: 2px; width: 15%;" [(ngModel)]="nameSearch"
              name="nameSearch" (input)="onNameSearchChange()" placeholder="Search projects..." />
            <!-- <button type="button" class="btn btn-primary justify-content-end" (click)="OpenProjectModel()">+ Add
              Project</button> -->
          </div>
            <form>
                <table class="table table-striped data-striped">
                    <thead>
                        <tr>
                            <th scope="col" sortable="name"> Project Name
                                 <!-- <input type="text" style="border: 2px solid #c3c3c3;border-radius: 5px;" [(ngModel)]="nameSearch" name="nameSearch" (input)="onNameSearchChange()"> -->
                                 </th>
                            <th scope="col" sortable="salary"> Project Type</th>
                            <th scope="col" sortable="office" >Start Date</th>
                            <th scope="col" sortable="extn" >End Date</th>
                            <!-- <th scope="col" sortable="email" >Action</th> -->
                            <!-- <th scope="col" sortable="email" > Kanban Management</th> -->
                        </tr>
                    </thead>
                    <tbody >
                        <ng-container *ngIf="pagedData?.length; else noData">
                            <tr *ngFor="let item of pagedData; let i = index">
                                <!-- <th scope="row">{{ i + 1 }}</th> -->
                                <td> <div class="d-flex justify-content-start flex-column ">
                                  <a  (click)="PassValue(item.ProjectId)" class="text-dark fw-bolder text-hover-primary mb-1 fs-6" style="cursor: pointer;">{{ item.ProjectName}} </a>
                                </div>
                              </td>
                                <td>{{ item.Project_Type }}</td>
                                <td>{{ item.ProjectStartDate  | date:"dd MMM, yyyy" }}</td>
                                <td>{{ item.ProjectEndDate  | date:"dd MMM, yyyy"}}</td>
                                <td> 
  
                                  <div class="d-flex">
                                    
                                    <!-- <ui-switch  [checked]="item.IsActive === true"
                                    (valueChange)="onValueChange($event, item.IsActive,item.ProjectId)">
                                  </ui-switch> -->
                                  
                                  <div class="product-action" style="margin-left: 30px">
                                    <svg (click)="EditnavigateDetail(item.ProjectId)" >
                                        <use href="assets/svg/icon-sprite.svg#edit-content" style="cursor: pointer;"></use>
                                    </svg>
                                    <svg>
                                        <use href="assets/svg/icon-sprite.svg#trash1"(click)="DeleteUser(item.ProjectId)"  style="cursor: pointer;"> </use>
                                    </svg>
                                </div>
                                <button type="button" class="btn btn-light  mx-4 px-2 fs-7"  (click)="navigateToJobs(item.ProjectId)">Publish Job</button>
  
                                    </div>
  
  <!-- 
                                  <ui-switch  [checked]="item.IsActive === true"
                                  (valueChange)="onValueChange($event, item.IsActive,item.ProjectId)">
                                </ui-switch>
                                <a *ngIf="UserType !== 'Talent'" (click)="EditnavigateDetail(item.ProjectId)"
                                  style="padding-left: 24px;cursor: pointer;">
                                  <span class="svg-icon svg-icon-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 20 22" fill="none">
                                      <path opacity="0.3"
                                        d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                                        fill="currentColor"></path>
                                      <path
                                        d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                                        fill="currentColor"></path>
                                    </svg> </span>
                                  </a>
                                    <a href="javascript:void(0)" style="padding-left: 24px;cursor: pointer;"
                                  (click)="DeleteUser(item.ProjectId)">
                                  <span class="svg-icon svg-icon-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 20 22" fill="none">
                                      <path
                                        d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                        fill="currentColor"></path>
                                      <path opacity="0.5"
                                        d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                        fill="currentColor"></path>
                                      <path opacity="0.5" d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                        fill="currentColor"></path>
                                    </svg>
                                  </span>
                                </a> -->
                                
                               </td>  
                               <td>
                                <div class="d-flex">
                                  <div *ngIf="UserType=='Client'">
                                    <button type="button" class="btn btn-light  mx-4 px-2 fs-7"   *ngIf="isProjectInKanbanList(item.ProjectId)" (click)="viewKanban(item.ProjectId)">View kanban </button>
                                    <button type="button"  *ngIf="!isProjectInKanbanList(item.ProjectId)" 
                                     class="btn btn-light mx-4 px-2 fs-7"  (click)="Addkanan(item.ProjectId)">create kanban </button>
                  
                                  </div>
                                
                                </div>
                              </td> 
                            </tr>
  
                        </ng-container>
                        <ng-template #noData>
                            <tr>
                                <td colspan="9" class="text-center">Oops! There are no results found.</td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
              
                  <div class="d-flex justify-content-between p-2">
                  <div>
                    <select class="form-select" (change)="changePageSize($event.target)">
                        <option value="5">5 items per page</option>
                        <option value="10">10 items per page</option>
                        <option value="20">20 items per page</option>
                      </select>
                  </div>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-primary pagin-border-primary">
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Previous" (click)="pageChanged(currentPage - 1)"  [ngClass]="{'disabled-link': currentPage === 1}">
                          <span aria-hidden="true">«</span><span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item" *ngFor="let page of getPageNumbers()">
                        <a class="page-link" href="javascript:void(0)" (click)="pageChanged(page)" [class.active]="currentPage === page">{{ page }}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Next" (click)="pageChanged(currentPage + 1)" [ngClass]="{'disabled-link': currentPage === getTotalPages()}">
                          <span aria-hidden="true">»</span><span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  
                </div>
              </form>
        </div>
    </div>
  </div>
  
  <!--end::Custom Javascript-->
  
  