.text-error{
    font-size: 12px;
    color:red;
    padding-left: 8px;
  }
  .image-input-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 6px; /* Adjust border radius as needed */
    border: 2px solid #ccc; /* Add border */
    overflow: hidden;
  }